<div class="container">
  <div class="well">
    <h1>Details</h1>
      <div class="well">
        <p>投稿内容: <%= @post.content %></p>
      </div>
    </div>
    
    <div>
      <% unless @post.user == current_user %>
      <% if @favorite.present? %>
      <p><%= link_to 'Un Favorite', favorite_path(post_id: @post.id), method: :delete, class: 'btn btn-danger btn-sm' %></p>
      <% else %>
      <p><%= link_to 'Favorite', favorites_path(post_id: @post.id), method: :post, class: 'btn btn-success btn-sm' %></p>
      <% end %>
      <% end %>
    </div>
  </div>