h1, h2, h3, h4, h5, h6, p {
  text-align: center;
}

.jumbotron-extend {
    position: relative;
    height: 100vh;
    
    min-height: 300px;
    background: url("berlin.jpg") no-repeat center center;
    background-size: cover;
}

.jumbotron-container {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding-left: 30px;
    padding-right: 30px;
}

.site-name {
    margin-bottom: 40px;
    font-family: 'Playfair Display', serif;
}

.btn-black {
    border-radius: 0;
    background-color: #000;
    color: #fff;
    font-family: 'Avenir', serif;
}

.btn-black:hover {
    background-color: #fff;
    color: #000;
}

.container {
  max-width: 100%;
  margin: 50px auto;
  margin: 50px　0px　50px　0px;
}

.main-header{
 width: 100%;
}

.main-header img {
    display: block;
    max-width: 100%;
    height: auto;
}
.content li{
 padding:5px;
}

 ul li {
  list-style:none;
 }
 
 .footer{
  height:45px;
  background-color: #f8f8f8;
  border-color: #e7e7e7;
  padding-top:10px;
  position: fixed;
  bottom: 0;
  margin-bottom: 0;
  width: 100%;
  border-style: solid; border-color: #D3D3D3;border-width:1px ;
 }